<div id="ClientPage">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card card-parent">
            <div class="card-body">
              <div class="form-group">
                <label for="serviceType">Date Range:</label>

              </div>
              <div class="form-group">
                <label for="client">From:</label>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" (click)="dp.toggleCalendar()">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <input class="form-control form-control-sm" style="float:none" placeholder="Select a date"
                    ngx-mydatepicker name="startDate" formControlName="startDate"
                    [options]="myOptions" #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" readonly />
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="dp.clearDate()">
                      <i class="fas fa-times"></i>
                    </span> </div>
                </div>
              </div>
              <div class="form-group">
                <label for="client">To:</label>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" (click)="dp1.toggleCalendar()">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <input class="form-control form-control-sm" style="float:none" placeholder="Select a date"
                    ngx-mydatepicker name="endDate" formControlName="endDate"
                    [options]="myOptions" #dp1="ngx-mydatepicker" (click)="dp1.toggleCalendar()" readonly />
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="dp1.clearDate()">
                      <i class="fas fa-times"></i>
                    </span> </div>
                </div>
              </div>
              <div class="form-group">
                <label for="client">Team/Caregiver:</label>
                <select name="client" class="form-control" id="client"></select>
              </div>
              <div class="form-group text-right">
                <button>Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  