<div id="ClientPage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-4 ">
        <div class="card card-parent">
          <div class="card-body">
            <div>
              <div class="halfDiv text-right"><button>Clock In</button></div>
              <div class="halfDiv text-left"><button (click)="switchRoute()">Time Card</button></div>
            </div>
            <div class="form-group">
              <label for="client">Client:</label>
              <select name="client" class="form-control" id="client"></select>
            </div>
            <div class="form-group">
              <label for="serviceType">Service Type:</label>
              <select
                name="serviceType"
                class="form-control"
                id="serviceType"
              ></select>
            </div>
            <div class="form-group text-center">
              <button>Check In</button>
              <button>Check Out</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
